body {
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    margin: 20px;
}

* {
    outline: 0;
}

.grid-container-sources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-areas: ". ."". ."". ."". ."". ."; */
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-areas: ". ."". ."". ."". ."". ."; */
    text-align: center;
}

audio {
    width: 100%;
}

.recordButton {
    -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border: 1px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.recordButton:hover {
    background-color: #eb675e;
}

.recordButton:active {
    position: relative;
    top: 1px;
}

.transformButton {
    background-color: #44c767;
    border: 1px solid #18ab29;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.transformButton:hover {
    background-color: #5cbf2a;
}

.transformButton:active {
    position: relative;
    top: 1px;
}

button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 6px 15px;
    font-size: 17px;
}

.col-header-4 {
    grid-column: 1 / span 4;
    text-align: left;
    padding-left: 5%;
}

.col-header-5 {
    grid-column: 1 / span 5;
    text-align: left;
    padding-left: 5%;
}
